body {
	margin: 0;
	padding: 0;
	font-family: arial;
}
header {
	display: flex;
	/*height: 64px;*/
	background-color: #202020;
	padding: 28px;
	color: #FFF;
}
.box {
	display: flex;
	/*flex: 1;*/
	flex-wrap: wrap;
	/*justify-content: space-around;*/
	justify-content: space-between;
	align-items: center;
	width: 960px;
	margin: auto;
	/*height: 64px;*/
}
.box .caixa {
	margin: 5px;
}
.social {
	display: flex;
	align-items: center;
	justify-content: center;
}
.obrigado {
	text-align: center;
	font-size: 20px;
}
.email {
	width: 250px;
	display: flex;
	border: 2px solid #00a329;
	border-radius: 3px;
}
.email input {
	outline: 0;
	text-align: center;
	font-size: 20px;
	color: #000;
}
.buttom {
	width: 206px;
	background-color: #00a329;
	border: 0;
	cursor: pointer;
}
.email a {
	display: flex;
    text-decoration: none;
    z-index: 2;
}
.hotm_gmail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hotm_gmail img {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.container {
	display: flex;
	justify-content: center;
	/*background-color: #282828;*/
	background-image: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=558f2d8bcbb75255175c16b662804de8&auto=format&fit=crop&w=750&q=80);
	background-attachment: fixed;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container_int {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	justify-content: space-around;
	margin-left: 5px;
    margin-right: 5px;
}
aside {
	display: flex;
	background-color: #282828;
	margin-right: 25px;
}
aside .lateral {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.boxs input {
	height: 60px;
	border: 4px solid #282828;
	background-color: #00a329;
	text-align: center;
	font-size: 20px;
	box-sizing:border-box;
	width: 100%;
	outline: 0;
	cursor: pointer;
}
.zap_list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.zap_list img {
	padding: 25px; 
}
.zap_list a {
	text-decoration: none;
	color: #fff;
}
.zap_list .title {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.body_1 {
	text-align: center;
	padding: 20px;
	font-size: 18px;
	color: #fff;
}
.body_2 {
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
	color: #d97b32;
}
.body_3 {
	margin-top: 40px;
}

/* SESSÃO DO VÍDEO*/

.video {
	display: flex;
	flex: 2;
	justify-content: center;
	margin-top: 10px;
    margin-bottom: 10px;
}
.video .video_int {
	max-width: 654px;
	flex: 1;
    flex-direction: column;
    align-items: center;
}
.video iframe {
    border: 4px solid #282828;
	box-sizing: border-box;
}
.quero {
	width: 100%;
	height: 120px;
	background-color: #00a329;
	border: 4px solid #282828;
	box-sizing: border-box;
	margin-top: 60px;
	text-align: center;
	line-height: 112px;
	font-size: 25px;
}
.quero:hover,
.boxs input:hover,
.email input:hover {
	background: linear-gradient(#22d84f, #22d84f);
	transition: 4s cubic-bezier(0, 0.52, 0.75, 0.54);
}
.video_int a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	outline: 0;
}

/* OFERTA */

.oferta {
	display: flex;
	justify-content: center;
	height: auto;
	background-color: #202020;
}
.oferta_int {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex: 1;
	max-width: 960px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.oferta_box {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	padding: 40px;
	margin: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px 1px #0c0b0b;
	font-size: 18px;
	font-weight: bold;
}
.oferta_box img {
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.oferta_box:hover {
	background-color: #0c0b0b;
	border-radius: 3px;
	transition: 1.5s all;
	background-image: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=558f2d8bcbb75255175c16b662804de8&auto=format&fit=crop&w=750&q=80);
	background-attachment: fixed;
	background-size: cover;
	box-shadow: 0px 0px 20px 1px #00a32994;
}


/* RODAPE */

footer {
	display: flex;
	background-image: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=558f2d8bcbb75255175c16b662804de8&auto=format&fit=crop&w=750&q=80);
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}
.rodape {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*background-color: #202020;*/
}
/*CONTATO */

.social {
	display: flex;
}
.social_int {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	max-width: 960px;
	flex: 1;
	justify-content: space-around;
	padding: 5px;
}
.social_int a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.social_int .contato,
.social_int .contato2 {
	color: #fff;
	padding: 20px;
	max-width: 320px;
	width: 100%;
	box-sizing: border-box;
}
.social_int h1 {
	font-size: 24px;
	margin-bottom: 10px;
}
.barra {
	height: 3px;
    width: 90px;
    background-color: #00a329;
    margin-bottom: 30px;
}
.body div {
margin-bottom: 10px;
}
.body div img:hover {
	
}

/* DIREITOS DA PÁGINA */

.rodape .direitos {
	display: flex;
}
.direitos_int {
	display: flex;
	height: 50px;
	flex: 1;
	flex-direction: row;
	align-items: center;
	background-color: #0c0b0b;
}
.direitos_int div {
	display: flex;
	flex: 1;	
	font-size: 12px;
	justify-content: center;
}

@media only screen and (max-width: 720px) {
	.box {
		justify-content: space-around;
	}
	aside {
		margin-right: 0;
	}
	.obrigado {
		margin-bottom: 20px;
	}
	.container_int {
		flex-direction: column;
	}
	.video {
		order: 1;
	}
	aside {
		order: 2;
	}
	.ordem1 {
		order: 2;
	}
	.ordem2 {
		order: 1;
	}
	.body_3 {
		margin-bottom: 25px;
	}
	.quero {
		margin-top: 20px;
		font-size: 18px;

}