body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: sans-serif;
}
hr {
	margin: 0;

}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

.none {
	display: none;
}

/* TOPO // SOCIAL // CONTATO */
.content {
	display: flex;
	flex-direction: row;
	background-color: #fbb347;
	align-items: center;
	animation-name: transp;
	animation-duration: 20s;
}/*
@keyframes transp{
	0% {opacity: 0;}
	25%{opacity: 1;}
}*/
header .redesocial {
	margin: 5px;
	display: flex;
	justify-content: flex-start;
	flex: 1;	
}
/*
.content:hover {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}
*/
header .redesocial ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
header .contact {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	margin: 5px;
}
.contact a {
	text-decoration: none;
	color: #011724;
	padding: 2px;
	font-weight: bold;
}

/* PERFIL */

.content1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top right, black, #011724);
	height: 380px;
}
.content1 .text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	color: white;
	margin: 5px;
}
.content1 h1 {
	font-size: 16px;
	
}
.content1 h2 {
	font-size: 14px;
	text-align: right;
}
.content1 .image {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}
.content1 img {
	margin-left: 10px;
	border-radius: 50px;
	height: 100px;
}/*
@keyframes ha {
	0% {margin-top: -900px}
	100% {margin-top: 10px}; */
}
.text,
.image {
	opacity: 5;
	animation-name: ha;
	animation-duration: 2s;
	transition: all 2s ease-out;
	color: #fff;
}

/* EBOOK // CAPTURA DE EMAIL 1*/

.ebook {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #011724;
	height: auto;
	color: #dad6d6;
	font-weight: bold;
	padding-top: 20px;
    padding-bottom: 20px;
}

/* LADO ESQUERDO DA DIV EBOOK */

.ebook .left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	text-align: center;
	max-width: 366px;
}
.ebook .left img {
	margin: 20px;
}
.ebook .left p {
	margin: 20px 0;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

/* LADO DIREITO DA DIV EBOOK */

.ebook .right {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 450px;
}
.ebook .right .item p {
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
	color: #8097a7;
	font-weight: bold;

}
.item input {
	width: 80%;
	margin: auto;
	outline: 0;
	border: 0;
	border-radius: 5px;
	display: block;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: #000;
	-webkit-appearance: none;
}
.item .color {
	background-color: #00a329;
	color: white;
	cursor: pointer;
}
.item .color:hover {
	background-color: #22d84f;
    transition: 1s cubic-bezier(0, 0.52, 0.75, 0.54);
}



/* SLIDE */


.slide {
	flex: 1;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 250px;
/*	background: linear-gradient(to bottom right, black, #011724); */
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/slide.png);
}
.slide2 {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom right, black, #011724);
}
.slide2 iframe {
	border: 6px solid #011724;
	border-radius: 2px;
	margin-bottom: 80px;
}
.slide .conteudo {
/*	color: #fbb347; */
	color: #fff;
	max-width: 300px;
	margin: 15px;
}

.slide p {
	font-size: 14px;
    font-weight: bold;
}
.sobre {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
/*	padding: 25px; */
	border-bottom: 1px solid #dedede;
	background: linear-gradient(to top right, black, #011724);
}
.sobre h2 {
/*	margin: 30px;*/
	margin-bottom: 50px;
	color: #d4d4d4;
}

.sobre span {
	color: #bd7c38;
}
.sobre img {
	width: 150px;
	border-radius: 5px;
}
.sobre div {
	max-width: 380px;
	padding: 10px;
	margin: 25px;
	text-align: center;

}
.sobre .one {
	display: block;
	}
	.sobre .two {
	display: none;
	}
.sobre .on {
	max-width: 460px;
}
.sobre div p {
	text-align: justify;
	font-size: 18px;
	color: #d4d4d4;
	margin-bottom: 20px;
}

/* CHAMADA PARA VÍDEO */

.box1 {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: auto;
	border-bottom: 1px solid #dedede;
	padding-bottom: 75px;
}
.box1 p {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #3f464b;
}
.box1 h2 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 20px;
	color: #3f464b;
}
.box1 span {
	color: #a96f33;
}
.box1 img {
	margin-bottom: 15px;
	animation-name: seta;
	animation-duration: 1s;
	position: absolute;
	animation-iteration-count: infinite;
}
.box1 div {
	display: flex;
    justify-content: center;
}
@keyframes seta {
	0% {margin-top: 0;}
	25% {margin-top: 10px;}
	50% {margin-top: 0;}
	75% {margin-top: 10px;}
}

.box2 {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	background-color: #f1f1f1;
}
.box2 iframe {
	margin-top: 30px;
	margin-bottom: 30px;
}
.social {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.box3 h2 {
	margin: 30px;
	color: #3f464b;
}
.box3 span {
	color: #a96f33;
}
.box3 p {
	font-style: italic;
	margin: 20px;
	color: #3f464b;
}
.box3 iframe {
	padding-bottom: 30px;
}
.videoativo {
	display: block;
}
.videoativo2 {
	display: none;
}
.socialativo {
	display: block;
}
.socialativo2 {
	display: none;
}

/* CONTATO // Box 4 e Box 5 */

	.contato,
	.contato2 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
.contato,
.contato2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}
.contato {
	background-color: #f1f1f1;
	flex: 1;
}
.contato2 {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	flex: 2;
}
.contato .box4,
.contato2 .box5 {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}
.box4 a{
	text-decoration: none;
	margin-bottom: 2px;
    color: #5c6a70;
    font-style: italic;
}
.contato span {
	font-weight: bold;
}
.contato h3 {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	font-size: 24px;
	color: #3f464b;
}
.contato p {
	margin-bottom: 2px;
	color: #5c6a70;
	font-style: italic;
}

.contato2 .box5 input, textarea {
	outline: 0;
	border: none;
	border-bottom: 1px solid #5c6a70;
	background: transparent;
	color: #3f464b;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 14px;
	resize: none;
	-webkit-appearance: none;
}
.contato2 .box5 .enviar {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #28a745;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	-webkit-appearance: none;
}
.contato2 .box5 .enviar:hover {
	
	background-color: #22d84f;
    transition: 1s cubic-bezier(0, 0.52, 0.75, 0.54);
}


textarea {
	font-family: sans-serif;
	overflow: hidden !important;
}
.box5 form {
	display: flex;
    flex-direction: column;
}
    

/* Contact // ANIMAÇÃO // INSTAGRAM // 
===================================== */

@keyframes insta {
	0% {
		background: #543f4b;
	}
	25% {
		background: #484647;
	}
	50% {
		background: #543f4b;
	}
	75% {
		background: #484647;
	}
	100% {
		background: #543f4b;
	}
}

/* Footer TOP // REDE SOCIAL  //
===================================== */

.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}
.socials{
  width: 100%;
  margin: 0;
  padding: 0;
}
.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.socials li {
  display: inline-block;
  list-style: outside none none;
  float: left;
  overflow: hidden;
  width: 33.33333%;
  font-size: 13px;
}
.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}
.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
}
.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
}
.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}
.facebook{
  background: #464a4e;
  /*padding: 20px 0;*/
}
.facebook a:after{
  background-color: #527bbb;
}
.instagram{
  background: #543f4b;

  /* ANIMAÇÃO // KEYFRAMES //
  ===========================
  */

  animation-name: insta;
  transition: all 0.35s ease;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
.instagram a:after{
  background-color: #BD6178;
}
.gplus{
  background: #464a4e;
}
.gplus a:after{
  background: #dd4b39;
}
.footer-bottom{
  width: 100%;
  background: #2f2f2f;
  padding: 80px 0;
  color: #636363;
}

/* Footer
===================================== */

.footer_div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
  	background: url("../../assets/images/pw_maze_black.png") left top repeat;
}
.rodapeint {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.copyright{
	display: flex;
	flex: 1;
    justify-content: center;
	align-items: center;
    background-color: #0c0c0c;
}
.creditos {
	color: #544e4e;
    font-size: 14px;
    margin: 4px;
}
.voltar-ao-topo {
            position: fixed;
            bottom: 2em;
            right: 2em;
            text-decoration: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            padding: 1em;
            display: none;
            
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }


/* ABAIXO DE 300px // Por SEGURANÇA hehe */

@media only screen and (max-width: 300px) {
	.content1 {
		flex-direction: column;
		height: auto;
		padding: 50px;
		text-align: center;
	}
	.content1 .text {
		text-align: center;
	}
}

/* VERSÃO DESKTOP */

@media only screen and (min-width: 600px) {

/* TOPO */


	.none {
		display: block;
	}
	header .redesocial {
		flex: 1;

	}
	header .contact {
		flex: 2;
		align-items: center;

	}
	.contact a {
		font-size: 14px;
		font-weight: bold;
	}
	.contact a img {
		padding-left: 8px;
		padding-right: 2px;
	}

/* PERFIL */

	.content1 {
		height: 100vh;
	}
	.content1 img {
		  border-radius: 170px;
    	height: 170px;
	}

	.content1 .text {
		margin: 20px;
	}
	.content1 h1,
	.content1 h2 {
		font-size: 24px;	
	}

	/* EBOOK */ 

	@media only screen and (min-width: 600px) {
	.voltar-ao-topo {
		display: block;
	}
	.ebook {
		flex-direction: row;
		padding: 30px;
	}
	.ebook .left {
		width: 50%;
		margin-top: -20px;
	}
	.ebook .right {
		width: 50%;
	}
	.ebook .left p {
		margin: 0;
	}

	}
	/*
	@media only screen and (min-width: 800px) and (max-width: 1024px) {
	.ebook {
		flex-direction: row;
	}
	.ebook .left {
		flex-direction: row;
		max-width: 50%;
	}
	.ebook .right {
		max-width: 50%;
	}
	.item input {
		width: auto;
		float: left;
	}
	
	}*/


	/* SLIDE */

	.sobre {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row; 
	padding: 30px;
	border-bottom: 1px solid #dedede;
	background: linear-gradient(to top right, black, #011724);
}

	.sobre div {
	max-width: 380px;
	padding: 10px;
	margin: 25px;
	text-align: center;
	padding-left: 80px;
	}
	.sobre .one {
	display: none;
	}
	.sobre .two {
	display: block;
	}
	.sobre img {
    width: 190px;
	}


	.slide {
		height: 450px;
	}
	.slide .conteudo {
		max-width: 600px;
	}
	.slide p,
	.box1 p,
	.box3 p {
		font-size: 1.5em;
	}.box1 p {
		margin-top: 20px;
	}
	.box1 h2,
	.box3 h2 {
		font-size: 2em;
	}
	.box1,
	.box2,
	.box3 {
		height: 480px;
	}
	.box1 {
		padding-bottom: 0;
	}
	.box3 h2 {
		margin-top: 50px;
	}
	.box3 iframe {
    	padding-top: 30px;
	}
	.videoativo2 {
		display: block;
	}
	.videoativo {
		display: none;
	}
	.socialativo2 {
		display: block;
	}
	.socialativo {
		display: none;
	}
	.social .box3 div {
		width: 500px;
		margin: auto;
	}

	/* CONTATO */

	.contato,
	.contato2 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.contato,
	.contato2 {
		float: left;
		width: 50%;
		height: 450px;
		background-color: #f1f1f1;
	}
	.contato .box4,
	.contato2 .box5 {
		max-width: 80%;
	}
	.contato2 {
		border-top: 0px;
		border-bottom: 0px;
	}
	.contato .box4 {
		/*margin-left: 50px;*/
	}
	.contato2 .box5 {
		margin-left: -50px;
	}

	/* FOOTER */

	.footer_div {
		height: 450px;
	}
	.footer_div img {
		width: 250px;
		height: 250px;
	}
}


@media only screen and (min-width: 1000px){
	.footer_div {
	  	background: url("../../assets/images/pw_maze_black_2X.png") left top repeat;
	}
}
@media only screen and (min-width: 1440px) {
	.ebook {
		flex-direction: row;
		height: 400px;
	}
	.slide {
		height: 480px;
	}
}
